{% extends 'app/base.html' %}

{% block content %}
  <h1>Password Reset</h1>
  <form class = "validate-form" method="POST" action="">
    {% csrf_token %}
    <div data-validate = "password is required">
    <label for="id_new_password1">New Password:</label>
    <input type="password" name="new_password1" id="id_new_password1">
    <div class="error">
    {% for err in form.new_password1.errors %}
      <small class="text-danger">{{ err }}</small>
    {% endfor %}
  </div>
  </div>
  <div data-validate = "password is required">
    <label for="id_new_password2">Confirm New Password:</label>
    <input type="password" name="new_password2" id="id_new_password2">
    <div>
    {% for err in form.new_password2.errors %}
      <small class="text-danger">{{ err }}</small>
    {% endfor %}
  </div>
  </div>
    <button type="submit">Reset Password</button>
  </form>
{% endblock %}